/*temporary css just so you can see the individual posts clearly*/
.single-post-card {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: 10px;
  padding: 10px;
  box-sizing: content-box;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.posts-card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .single-post-card {
    width: 90%;
  }
}
