/*temporary css just so you can see the individual posts clearly*/
.single-post-card{
    background: #d1e4ef;
    margin: 1%;
    padding: 1%;

}

.posts-card-body{
    margin: 2%;
    margin-left: 5%;
}


